*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --baseColor: #f6f6f6;
  --brighterColor: #ffffff;
  --darkerColor: #edeff1;
  --darkestColor: #d2d3d4;
  --highlightColor: rgb(2, 173, 209, 0.8);
  --shadow: #c9c7c7 0 0 25px 8px;
  --textcolor: #464646;
}

html {
  background-color: var(--baseColor);
}

body {
  background-color: var(--baseColor);
  max-width: 1000px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.navBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  list-style: none;
  height: 3rem;
  width: 20rem;
  border-radius: 3rem;
  box-shadow: var(--shadow);
}

.colorBox {
  display: flex;
  width: max-content;
  margin: 0.5rem 0 1rem 11rem;
}

.switchlight {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: black;
}

.highlightDott {
  width: 1rem;
  height: 1rem;
  background-color: red;
  border-radius: 1rem;
}

.switchlight,
.highlightDott:not(:last-child) {
  margin-right: 0.5rem;
}

.card {
  width: 70%;
  height: 15rem;
  margin: 0 auto 2rem auto;
  border-radius: 10px;
}
.card:first-child {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.card:first-child p {
  color: var(--highlightColor);
  font-size: 1.2rem;
  margin-top: 10px;
}

.welcome {
  margin-top: -3rem;
  font-size: 2.5rem;
  color: var(--highlightColor);
  text-shadow: 1px 2px 2px var(--baseColor), 0 0 0 #000,
    1px 4px 2px var(--baseColor);
}

.card:not(:first-child) {
  background-color: var(--darkerColor);
  transition: all 0.2s ease-in-out;
  position: relative;
  letter-spacing: 1px;
}

.card:not(:first-child):hover {
  width: 75%;
  height: 15rem;
  background-color: var(--brighterColor);
  box-shadow: var(--shadow);
}

.lablecard {
  background-color: var(--baseColor);
  height: 3rem;
  width: 10rem;
  border-radius: 8px;
  position: absolute;
  top: 30px;
  left: -10px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-size: 1.3rem;
  color: var(--highlightColor);
  box-shadow: var(--darkestColor) 3px 3px 10px 2px;
}

.projectTitle,
.projectUndertitle,
.puplishedYear {
  width: fit-content;
  position: absolute;
  color: var(--textcolor);
}

.projectTitle {
  top: 5.5rem;
  left: 4rem;
  font-weight: normal;
}

.projectUndertitle {
  top: 7.5rem;
  left: 4rem;
}

.puplishedYear::before {
  margin: 0 5px;
  content: "•";
}

.tagBox {
  position: absolute;
  top: 10rem;
  left: 4rem;
  display: flex;
  outline: 2px solid green;
  width: 70%;
  flex-wrap: wrap;
}

.tag {
  height: 1.5rem;
  width: fit-content;
  outline: 1px solid hotpink;
  margin: 7px;
  padding: 3px;
  border-radius: 2px;
}

footer {
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkerColor);
}

footer a,
footer p {
  color: var(--darkestColor);
  margin: 0 5px;
}
