*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --baseColor: #f6f6f6;
  --brighterColor: #ffffff;
  --darkerColor: #edeff1;
  --darkestColor: #d2d3d4;
  --highlightColor: rgba(2, 161, 209, 0.8);
  --shadow: #c9c7c7 0 0 25px 8px;
  --textcolor: #464646;
  --breakPoint: 420px;
}

html {
  background-color: var(--baseColor);
}

body {
  background-color: var(--baseColor);
}

main {
  max-width: 780px;
  min-width: 300px;
  margin: 0 auto;
  position: relative;
}

/* COLORBOX and WELCCOME */

@media (min-width: 420px) {
  .colorBoxWrap {
    position: absolute;
    height: 100%;
    right: 0;
  }

  .colorBox {
    width: max-content;
    position: sticky;
    top: 70px;
    z-index: 1;
  }
}

@media (max-width: 420px) {
  .colorBox {
    display: flex;
    justify-content: center;
  }
}

.switchlight {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: black;
  margin: 5px;
}

.highlightdot {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  margin: 5px;
}

.highlightdot.red {
  background-color: red;
}

.highlightdot.orange {
  background-color: orange;
}

.highlightdot.yellow {
  background-color: yellow;
}

.highlightdot.green {
  background-color: green;
}

.highlightdot.blue {
  background-color: blue;
}

.highlightdot.purple {
  background-color: purple;
}

.switchlight,
.highlightdot:not(:last-child) {
  margin-right: 0.5rem;
}

@media (min-width: 420px) {
  .card {
    height: 15rem;
    margin: 0 2rem 2rem 2rem;
    border-radius: 10px;
  }
}

@media (max-width: 420px) {
  .card {
    height: 10rem;
    margin: 1.5rem 1rem 0 1rem;
    border-radius: 10px;
  }
}
@media (min-width: 420px) {
  .welcomeCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
}

@media (max-width: 420px) {
  .welcomeCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    outline: 2px solid hotpink;
    height: ma;
  }
}

.welcomeCard p {
  color: var(--highlightColor);
  font-size: 1.2rem;
  margin-top: 10px;
}
@media (min-width: 420px) {
  .welcome {
    font-size: 2.5rem;
    color: var(--highlightColor);
    text-shadow: 1px 2px 2px var(--baseColor), 0 0 0 #000,
      1px 4px 2px var(--baseColor);
  }
}

@media (max-width: 420px) {
  .welcome {
    font-size: 1.8rem;
    color: var(--highlightColor);
    text-shadow: 1px 2px 2px var(--baseColor), 0 0 0 #000,
      1px 4px 2px var(--baseColor);
    margin-top: -150px;
  }
}

/* STYLING PROJECT CARDS */

.card:not(.welcomeCard) {
  background-color: var(--darkerColor);
  transition: all 0.2s ease-in-out;
  position: relative;
  letter-spacing: 1px;
}
@media (hover: hover) {
  .card:not(.welcomeCard):hover {
    transform: scale(1.04);
    background-color: var(--brighterColor);
    box-shadow: var(--shadow);
  }
}

.lablecard {
  background-color: var(--baseColor);
  height: 3rem;
  width: 10rem;
  border-radius: 8px;
  position: absolute;
  top: 30px;
  left: -10px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-size: 1.3rem;
  color: var(--highlightColor);
  box-shadow: var(--darkestColor) 7px 7px 10px 2px;
}

.projectTitle,
.projectUndertitle,
.puplishedYear {
  width: fit-content;
  position: absolute;
  color: var(--textcolor);
}

.projectTitle {
  top: 5.5rem;
  left: 4rem;
  font-weight: normal;
}

.projectUndertitle {
  top: 7.5rem;
  left: 4rem;
}

.puplishedYear::before {
  margin: 0 5px;
  content: "•";
}

.tagBox {
  position: absolute;
  top: 10rem;
  left: 4rem;
  display: flex;
  width: 70%;
  flex-wrap: wrap;
}

.tag {
  height: 1.5rem;
  width: fit-content;
  margin: 0 14px 0 0;
  padding: 5px;
  border-radius: 2px;
  background-color: var(--baseColor);
  font-size: 0.9rem;
  box-shadow: var(--highlightColor) 0 0 3px 2px;
  color: var(--textcolor);
}

/* FOOTER */

footer {
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkerColor);
}

footer a,
footer p {
  color: var(--darkestColor);
  margin: 0 5px;
}
