/* @media (min-width: 768px) {
  footer {
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkerColor);
  }
} */
@media (max-width: 768px) {
  footer {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkerColor);
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 0.8rem;
  }
}

footer a,
footer p {
  color: var(--darkestColor);
  margin: 0 5px;
}
